/* =============
    Base
============= */
ul {
    padding: 0;

    li {
        list-style: none;
    }
}

.content-spacing {
    margin-top: 40px;

    @include md {
        margin-top: 50px;
    }

}


hr {
    border: none;
    height: 4px;
    background-color: $brown;
}