/* =============
    Section-5
============= */
#section-5 {
    p {
        text-align: justify;
    }

    @include md {
        display: grid;
        grid-template-areas: ". section-5 .";
        grid-template-columns: auto 80% auto;
    }

    @include xl {
        grid-template-columns: auto 1000px auto;
    }

    #section-5-inner {
        @include md {
            grid-area: section-5;
        }

        @include lg {
            display: grid;
            grid-template-columns: 40% auto;
        }

        @include xl {
            // border: 1px solid red;
        }

        aside {

            // text-align: center;
            img {
                // width: 199px;
            }
        }

        #section-5-text {
            display: grid;
            grid-template-areas: ". section-5-text .";
            grid-template-columns: 10px auto 10px;

            #section-5-text-content {
                grid-area: section-5-text;
            }
        }
    }
}