/* =============
    Section-1
============= */
#section-1 {
    background-image: url('../img/section-1/hero.jpg');
    background-position: center;
    background-size: cover;
    height: 50vh;
    position: relative;

    @include md {
        height: 60vh;
    }

    @include lg {
        height: 70vh;
    }

    @include xl {
        height: 60vh;
    }

    h1 {
        bottom: 5%;
        left: 5%;
        position: absolute;
    }

    >div {
        h1 {
            font-size: rem-calc(44);

            @include md {
                font-size: rem-calc(56);
            }

            @include lg {
                font-size: rem-calc(78);
            }
        }
    }
}