/* =============
    Section-3
============= */
#section-3 {
    color: $brown;

    >div {
        h2 {
            font-size: rem-calc(27);

            @include md {
                font-size: rem-calc(40);
            }

            @include lg {
                font-size: rem-calc(60);
            }
        }
    }

    @include xl {
        display: grid;
        grid-template-areas: ". section-3 .";
        grid-template-columns: auto 1200px auto;
    }

    #section-3-content {

        @include xl {
            grid-area: section-3;
        }

        aside {
            background-image: url("../img/section-3/hero2.png");
            background-position: center;
            background-size: cover;
            height: 50vh;

            @include lg {
                height: 60vh;
            }
        }

        #section-3-text {
            // margin-top: 50px;
            padding-top: 50px;
            display: grid;
            grid-template-areas: ". section-3 .";
            grid-template-columns: 10px auto 10px;
            text-align: center;

            @include md {
                grid-template-columns: auto 50% auto;
            }

            #section-3-text-content {
                grid-area: section-3;

                    hr{
                        background-color: black;
                    }
            }
        }
    }
}