/* =============
    Section-2
============= */
#section-2 {

    @include xl {
        display: grid;
        grid-template-areas: ". section-2 .";
        grid-template-columns: auto 1200px auto;
    }

    #section-2-inner {
        @include md {
            display: grid;
            grid-template-areas: "cookies cookie-text";
            grid-template-columns: 40% auto;
        }

        @include lg {
            grid-template-columns: 50% auto;
        }

        @include xl {
            grid-area: section-2;
        }

        aside {
            background-image: url("../img/section-2/believe-left.jpg");
            background-position: center;
            background-size: cover;
            height: 60vh;

            @include md {
                height: 45vh;
            }

            @include lg {
                height: 70vh;
            }
        }

        #section-2-container {
            display: grid;
            grid-template-areas: ". section-2 .";
            grid-template-columns: 10px auto 10px;

            @include md {
                grid-area: cookie-text;
            }

            #section-2-content {
                grid-area: section-2;
            }
        }
    }
}