/* =============
    Footer
============= */
footer {

    #footer-content {
        text-align: right;
        color: $white;
        background-color: $brown;
        height: 80px;
        padding-right: 10px;

        aside{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
        }
    }
        
}